.bio-content {
    a {
        text-decoration: none;
        color: $main;
        transition: 0.5s ease-in-out;

        &:hover {
            color: $dark-main;
            text-decoration: underline;
        }
    }
}
