.left-column {
    background: url("../../static/assets/images/about/chickens.jpg") no-repeat;
    background-size: center;
    background-position: center;
}

.bio-content {
    a {
        text-decoration: none;
        color: $main;
        transition: 0.5s ease-in-out;

        &:hover {
            color: $dark-main;
            text-decoration: underline;
        }
    }
}

@media (max-width: 786px) {
    .content-page-wrapper {
        display: grid;
        grid-template-columns: 1fr;

        .left-column {
            width: 100%;
            height: 200px;
        }

        .right-column {
            padding: 0 2em;
        }
    }
}
