.about-img {
    background: url("../../static/assets/images/about/chickens.jpg") no-repeat;
    background-size: center;
    background-position: center;
}

.bio-content {
    a {
        text-decoration: none;
        color: $main;
        transition: 0.5s ease-in-out;

        &:hover {
            color: $dark-main;
            text-decoration: underline;
        }
    }
}


