.card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 40px;

    .header {
        text-align: center;
        margin: 0;
        padding: 0 15px 20px 15px;
        border-top: solid $main 3px;
        border-bottom: solid $main 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 0.9em;

        a {
            color: $main;
            text-decoration: none;

            &:hover {
                color: $light-main;
                text-decoration: underline;
            }
        }
    }

    .card-list {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;

        .card {
            padding: 2rem 4rem;
            margin-bottom: 0;
            border-bottom: solid $main 3px;

            a {
                text-decoration: none;
                color: $dark-main;

                &:hover {
                    text-decoration: underline;
                    color: $main;
                }
            }

            p {
                margin: 16px 0 0 0;
            }

            .title-wrapper {
                display: flex;
                align-items: flex-end;
                line-height: 16px;

                .title {
                    margin: 0;
                    padding-right: 10px;
                    line-height: 24px;
                }

                .year-star {
                    display: flex;
                }

                .release-date {
                    margin: 0;
                    padding-right: 10px;
                }

                .star-rating {
                    margin: 0;
                    color: #01bb30;
                }
            }
            .review-date {
                font-size: 0.9em;
            }

            .description {
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;

                img {
                    max-height: 300px;
                    box-shadow: 9px 9px 15px -3px #0d0f13;
                }
            }
            
            .dbbtn {
                color: $light-main;
                background-color: #000000e7;
                padding: 0.2rem 0.6rem;
                border: 1px solid #000000e0;
                border-radius: 3px;
                font-size: 1rem;
                transition: background-color 250ms;

                .dbbtn:hover {
                    background-color: #000000d9;
                }
            }
        }

        p {
            a {
                text-decoration: none;
                color: $main;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
    }
            .footer {
                text-align: center;
            }
}

@media (max-width: 786px) {
    .card-container {
        width: 100%;
        padding: 0;
        margin: 0;

        .card-list {
            width: 100%;

            .card {
                padding: 1em;

                .title {
                    margin-bottom: 0.5rem;
                    flex: 0 1 auto;
                }

                .year-star {
                    flex: 1;
                }
            }
        }

        
    }
}
