.portfolio-detail-wrapper {
    width: 100vw;
    text-align: center;

    .banner {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    }

    .portfolio-detail-description-wrapper {
        text-align: center;
        margin-top: 21px;
        display: flex;
        justify-content: center;

        .description {
            width: 750px;
            font-size: 2em;
            margin-bottom: 25px;
        }
    }

    .bottom-content-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .site-link {
        padding: 15px;
        margin-bottom: 15px;
        background-color: $main;
        border-radius: 3px;
        text-decoration: none;
        color: white;
        transition: 0.5s ease-in-out;
        font-size: 1.2em;

        &:hover {
            background-color: $dark-main;
        }
    }
}

@media (max-width: 786px) {
    .portfolio-detail-wrapper {
        width: 100vw;
        text-align: center;

        .portfolio-detail-description-wrapper {
            .description {
                width: 80vw;
                font-size: 1em;
                overflow-wrap: break-word;
            }
        }
    }
}
